@import url("https://fonts.googleapis.com/css2?family=Abel&family=Poppins:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Index Page */

body {
  min-height: 100vh;
  background: linear-gradient(#1b0938, #7767cf);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  padding: 10px 70px;
}
nav ul {
  display: flex;
}
nav li {
  list-style-type: none;
  display: inline-block;
  padding: 15px 15px;
}

nav .li,
.logo {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 14.5px;
}

nav .logo {
  padding-left: 10px;
  font-size: 18px;
  color: rgb(255, 245, 234);
}

.logo span {
  color: rgb(255, 166, 83);
}

nav .li {
  padding: 10px 13px;
}

nav li img {
  height: 30px;
  width: 30px;
}

nav ul a.li:hover,
nav ul a.active {
  background-color: white;
  color: #1b0938;
  border-radius: 20px;
}

.body-container {
  display: flex;
}
.character-img {
  padding-left: 6rem;
}
.character-img img {
  height: 550px;
  width: 550px;
}
.content {
  padding-left: 13rem;
}
.content .main-heading {
  padding-top: 6.5rem;
  color: white;
  font-size: xx-large;
}

.content .sub-heading {
  font-family: "Abel", serif;
  color: white;
  font-size: medium;
}

#search-bar {
  width: 100%;
  max-width: 700px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 60px;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

#search-bar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 20px;
  font-size: 17px;
  color: white;
}

::placeholder {
  color: white;
  font-size: 14px;
}

#search-bar button {
  border: 0;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  background-color: #402a64;
  cursor: pointer;
}

#search-bar button:hover {
  background-color: #221735;
}

#search-bar button img {
  height: 30px;
  width: 30px;
}

.categories {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.categories button {
  border: none;
  border-radius: 20px;
  width: 110px;
  height: 40px;
  color: white;
}
.categories .red {
  background: rgb(221, 65, 62);
}
.red:hover {
  background-color: rgb(207, 39, 36);
  cursor: pointer;
}
.categories .brown {
  background: rgb(49, 27, 17);
}
.brown:hover {
  background-color: rgb(87, 47, 28);
  cursor: pointer;
}
.categories .blue {
  background: rgb(56, 106, 199);
}
.blue:hover {
  background-color: rgb(35, 74, 148);
  cursor: pointer;
}

.reddish {
  background-color: rgb(245, 79, 29);
}

footer {
  color: white;
  font-size: smaller;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 80%;
}

/* Other Pages in Home- Job Industry, Company, Location*/
.navBar {
  margin-top: 1rem;
}

.navBar ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: sticky;
  padding: 15px 45px;
}
.navBar ul img {
  padding-top: 5px;
  padding-right: 30px;
  cursor: pointer;
}

.navBar li {
  list-style-type: none;
}
/* 
.pos ul {
  display: flex;
  justify-content: space-between;
  margin: 1rem 6rem;
} */

.button {
  border: none;
  padding: 10px 23px;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 14.5px;
  max-width: 80rem;
  height: 40px;
}

._red {
  background: rgb(221, 65, 62);
}

._brown {
  background-color: rgb(87, 47, 28);
}

._blue {
  background: rgb(56, 106, 199);
}

._pink {
  background: rgb(209, 3, 75);
  padding-left: 23px;
  padding-right: 23px;
}

.btn {
  border: none;
  padding: 10px 30px;
  margin-left: 44rem;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 14.5px;
  max-width: 65rem;
  height: 40px;
}

.btn:hover {
  cursor: pointer;
  background: rgba(228, 34, 102, 0.543);
}
/* Industry Page*/

.grid-container {
  margin: 3rem 4rem;
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.grid-item {
  height: 6rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.grid-item:hover {
  cursor: pointer;
  background: rgba(161, 160, 160, 0.2);
}

/* Job Industry Page and Search Page*/

.jobs-grid-container {
  margin: 3rem 4rem;
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}

.jobs-grid-item {
  height: 8rem;
  width: 1200px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 0 3rem;
}

.jobs-grid-item:hover {
  cursor: pointer;
  background: rgba(161, 160, 160, 0.2);
}

.vac {
  display: flex;
  align-items: center;
  margin-left: 28rem;
}

.head1 {
  margin-left: 2rem;
}

.searchCon {
  display: flex;
  flex-direction: column;
}

/* Company Page*/
.compButton {
  background-color: rgb(245, 79, 29);
  border: none;
  padding: 10px 13px;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 14.5px;
  width: 165px;
  height: 40px;
}

.circle-grid-container {
  margin: 3rem 4rem;
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(10, 100px);
  column-gap: 10px;
  row-gap: 50px;
}

.circle-item {
  width: 70px;
  height: 70px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
}

.circle-item:hover {
  cursor: pointer;
  background: rgba(161, 160, 160, 0.2);
}

/* .circle-item[title] {
  background-color: #7767cf;
} */

/* Company Info Page*/

.companyInfoContainer {
  margin: 1rem 5rem;
  width: 1200px;
  border: none;
  border-radius: 25px;
  display: flex;
  background-color: #f5f3f3;
  color: #545454;
  font-family: "MullerBlack", "Arial Black", arial, sans-serif;
}

.compLogo {
  flex: 0.5;
  height: auto;
  background-color: rgb(9, 9, 9);
  border: none;
  border-radius: 25px 0px 0px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoCompany {
  border-radius: 50%;
  height: 120px;
  width: 120px;
}

.compInfo {
  padding: 3rem;
  flex: 2;
}

.compInfoDesc {
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.compInfoDesc h4:hover {
  cursor: pointer;
  color: #300f66;
  font-weight: bolder;
  text-decoration: underline;
  text-decoration-style: wavy;
}

.compInfoJobs {
  margin: 1.5rem 0rem;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 16px;
}

.compInfoJobItems {
  border: 2px solid burlywood;
  border-radius: 20px;
  padding: 0.5rem 2rem;
}

/* Compare Page*/

.cardCon {
  margin: 2rem 5rem 0rem;
  border: none;
  border-radius: 0 25px 25px;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #545454;
  font-family: "MullerBlack", "Arial Black", arial, sans-serif;
}

.cardCon h3 {
  margin: 2rem;
  font-size: 36px;
}

.card {
  border: none;
  background-color: #e4e4e4;
  margin: 2rem;
  padding: 1.5rem;
  font-weight: normal;
}

#compare-form {
  margin: 1rem;
}

.form-inputs {
  display: flex;
  flex-direction: row;
}

.input-width {
  width: 100%;
  max-width: 500px;
  height: 35px;
  padding: 6px;
}

#compare-button {
  margin-top: 2rem;
  border: none;
  border-radius: 6px;
  background: #338244;
  color: white;
  padding: 10px 13px;
  width: 100%;
}

#compare-button:hover {
  cursor: pointer;
}

.comparison-card {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  color: #545454;
  font-family: "MullerBlack", "Arial Black", arial, sans-serif;
}

/* Locate Opportunities Page*/

.mapBody {
  display: flex;
}
.mapCon {
  margin: 2rem;
  padding: 3rem;
  border: none;
  border-radius: 25px;
  background-color: white;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  color: #545454;
  font-family: "MullerBlack", "Arial Black", arial, sans-serif;
}

.mapNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem;
}

.mapNav h1 {
  margin-top: 5px;
}

#mapSearchBar-form {
  width: 100%;
  max-width: 350px;
  height: 3rem;
  background: rgba(35, 34, 34, 0.2);
  border-radius: 60px;
  display: flex;
  align-items: center;
}

#mapSearchBar-form input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 20px;
  font-size: 15px;
}

::placeholder {
  padding-left: 1rem;
  font-size: 14px;
  color: #1b0938;
}

#mapSearchBar-form button {
  border: 0;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  background-color: #402a64;
  cursor: pointer;
}

#mapSearchBar-form button:hover {
  background-color: #221735;
}

#mapSearchBar-form button img {
  height: 30px;
  width: 30px;
}

.district:hover {
  fill: #a5a5a7;
  cursor: pointer;
}

.hidden {
  display: none;
}
.tooltip {
  color: #222;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0px 0px 2px 0px #a6a6a6;
  padding: 0.2em;
  text-shadow: #f5f5f5 0 1px 0;
  opacity: 0.9;
  position: absolute;
}

/* Location Page */

.puzzle-grid-container {
  margin: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  grid-gap: 1rem;
}

.puzzle {
  /* height: 6rem; */
  /* background: rgba(255, 255, 255, 0.2); */
  border-radius: 20px;
  padding: 20px;
  font-size: 150%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(237, 235, 235);
  position: relative;
}

.puzzle:hover {
  cursor: pointer;
  background: #120329ae;
}

.a {
  grid-column: 1 / 3;
  grid-row: 1;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.477)),
    url("../img/ktmmm.jpg");
  background-size: cover;
}
.b {
  grid-column: 3;
  grid-row: 1 / 3;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.477)),
    url("../img/bhakta.jpg");
  background-size: cover;
}
.c {
  grid-column: 1;
  grid-row: 2;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.477)),
    url("../img/pokhara.jpg");
  background-size: cover;
}
.d {
  grid-column: 2;
  grid-row: 2;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.477)),
    url("../img/lalitpur.png");
  background-size: cover;
}
.e {
  grid-column: 1;
  grid-row: 3 / 5;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.477)),
    url("../img/Butwal1.jpg");
  background-size: cover;
}
.f {
  grid-column: 2/4;
  grid-row: 3;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.477)),
    url("../img/nagarkot.jpg");
  background-size: cover;
}
.g {
  grid-column: 2;
  grid-row: 4;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.477)),
    url("../img/remoteWork.jpg");
  background-size: cover;
}
.h {
  grid-column: 3;
  grid-row: 4;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.477)),
    url("../img/Others.jpg");
  background-size: cover;
}

/* Inside Location Page */

.locButton {
  background-color: rgb(245, 79, 29);
  border: none;
  padding: 10px 13px;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 14.5px;
  width: 165px;
  height: 40px;
}

/* Trend Page */

.trendCon {
  margin: 2rem 0rem;
  padding: 3rem;
  border: none;
  border-radius: 25px;
  background-color: white;
  width: 68rem;
  display: flex;
  flex-direction: column;
  color: #545454;
  font-family: "MullerBlack", "Arial Black", arial, sans-serif;
}

.subHead {
  font-style: italic;
}
